* {
    font-family: 'Calibri', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    transition: all .2s ease-out;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    /* cursor: default; */
    user-select: text;
}

::selection {
    color: #1900fd;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    /* -webkit-font-smoothing: antialiased; */
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
}

body::-webkit-scrollbar-thumb {
    background: rgb(63, 61, 86);
    border-radius: 5rem;
}

body::-webkit-scrollbar-thumb:hover {
    background: rgb(38, 37, 52);
}

#preloader {
    position: fixed;
    display: grid;
    justify-items: center;
    padding-top: 40vh;
    top: 0px;
    left: 0px;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    overflow-y: none;
    background-attachment: fixed;
    background: #ffffff;
    transition: transform 0.5s ease-out;
}

#text-wrapper {
    height: 30px;
    width: 40vw;
    position: relative;
}

#preloader-text {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 18px;
    font-family: monospace;
    color: transparent;
    background: linear-gradient(to right, #478ff9, #ff0000) no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 40vw 30px;
    background-position: -40vw 0px;
    animation: typing 5s linear 1s forwards;
}

@keyframes typing {
    100% {
        background-position: 0px 0px;
    }
}

#caret {
    position: absolute;
    top: -5px;
    left: 1.7vw;
    font-size: 25px;
    opacity: 0;
    animation: blink 0.3s alternate infinite 1.2s, caretmotion 4.7s linear 1s forwards;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes caretmotion {
    0% {
        left: 0vw;
    }

    100% {
        left: 37.5vw;
    }
}

/* HTML: <div class="loader"></div> */
.loader {
    --c1: #673b14;
    --c2: #f8b13b;
    width: 45px;
    height: 85px;
    border-top: 4px solid var(--c1);
    border-bottom: 4px solid var(--c1);
    background: linear-gradient(90deg, var(--c1) 2px, var(--c2) 0 5px, var(--c1) 0) 50%/7px 8px no-repeat;
    display: grid;
    overflow: hidden;
    animation: l5-0 2s infinite linear;
}

.loader::before,
.loader::after {
    content: "";
    grid-area: 1/1;
    width: 75%;
    height: calc(50% - 4px);
    margin: 0 auto;
    border: 2px solid var(--c1);
    border-top: 0;
    box-sizing: content-box;
    border-radius: 0 0 40% 40%;
    -webkit-mask:
        linear-gradient(#000 0 0) bottom/4px 2px no-repeat,
        linear-gradient(#000 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    background:
        linear-gradient(var(--d, 0deg), var(--c2) 50%, #0000 0) bottom /100% 205%,
        linear-gradient(var(--c2) 0 0) center/0 100%;
    background-repeat: no-repeat;
    animation: inherit;
    animation-name: l5-1;
}

.loader::after {
    transform-origin: 50% calc(100% + 2px);
    transform: scaleY(-1);
    --s: 3px;
    --d: 180deg;
}

@keyframes l5-0 {
    80% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(0.5turn)
    }
}

@keyframes l5-1 {

    10%,
    70% {
        background-size: 100% 205%, var(--s, 0) 100%
    }

    70%,
    100% {
        background-position: top, center
    }
}

/*
+++++++++++++++++++++++++++++++++++++++++++++++++++++++🏷️👇MAIN👇🏷️++++++++++++++++++++++++++++++++++++++++++++++++++++++
_______________________________________________________________________________________________________________________________*/



main {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23e0f4fc' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
    padding: 0;
    z-index: -100;
}

section {
    /* block-size: 100vh;
    scroll-snap-align: center;
    scroll-snap-stop: always; */
    position: relative;
}

.section-heading {
    grid-column: 1/7;
    grid-row: 1/2;
    color: #00308a;
    text-align: center;
    text-decoration: overline;
    text-decoration-color: #478ff9;
    text-decoration-thickness: 6px;
}

.dark-bg {
    background-color: rgb(223, 220, 220);
    opacity: 0.6;
    transition: all 0.5s ease-in-out;
}


/*
+++++++++++++++++++++++++++++++++++++++++++++++++++++++🏷️👇CONTACT SECTION👇🏷️+++++++++++++++++++++++++++++++++++++++++++++++
_______________________________________________________________________________________________________________________________*/



#contact {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 15vh;
}

#contact iframe {
    grid-column: 1/7;
    grid-row: 1/3;
}



/* 
+++++++++++++++++++++++++++++++++++++++++++++++++++++++⚙️👇COMPONENTS👇⚙️++++++++++++++++++++++++++++++++++++++++++++++++++++++
_______________________________________________________________________________________________________________________________*/



@keyframes glitch {
    0% {
        transform: translate(0 0);
        filter: hue-rotate(0deg);
    }

    10% {
        transform: translate(5px, 0px);
    }

    20% {
        transform: translate(-5px, -5px);
    }

    30% {
        transform: translate(15px, 0px);
    }

    40% {
        transform: translate(5px, 0px);
    }

    50% {
        transform: translate(-25x, 0px);
    }

    60% {
        transform: translate(-50px, 0px);
    }

    70% {
        transform: translate(0px, -20px);
    }

    80% {
        transform: translate(-60px, -20px);
    }

    81% {
        transform: translate(0px, 0px);
    }

    100% {
        transform: translate(0 0);
        filter: hue-rotate(360deg);
    }
}