/*
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++🏷️👇HEADER👇🏷️++++++++++++++++++++++++++++++++++++++++++++++++++
_______________________________________________________________________________________________________________________________*/



header {
    position: fixed;
    height: 9vh;
    width: 100vw;
    top: 0;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 2px 10px rgba(130, 130, 130, 0.655);
    z-index: 90;
}

.nav {
    position: absolute;
    right: 7vw;
    top: 0px;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.nav li {
    height: 100%;
}

.nav li a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5vh 0px 5vh;
    font-size: 16px;
    letter-spacing: 0.8px;
    color: #000;
    /* color: #00308a; */
}

@media (hover:hover) {

    .nav li a:hover,
    .nav li a:focus {
        background-color: rgba(226, 226, 241, 0.425);
        cursor: pointer;
    }
}

header h1 {
    position: absolute;
    top: 0px;
    left: 7vw;
    height: 100%;
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.active-section {
    font-size: 16.5px !important;
    font-weight: bolder;
}

header p {
    display: none;
}



/*
+++++++++++++++++++++++++++++++++++++++++++++++++++++++🏷️👇MAIN👇🏷️++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
_______________________________________________________________________________________________________________________________*/



main {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23e0f4fc' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
    padding: 0 7vw 0 7vw;
    z-index: -100;
}

section {
    /* block-size: 100vh;
    scroll-snap-align: center;
    scroll-snap-stop: always; */
    position: relative;
}

.section-heading {
    grid-column: 1/7;
    grid-row: 1/2;
    color: #00308a;
    font-size: 40px;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: overline;
    text-decoration-color: #478ff9;
    text-decoration-thickness: 6px;
}



/*
+++++++++++++++++++++++++++++++++++++++++++++++++++++++🏷️👇HOME SECTION👇🏷️++++++++++++++++++++++++++++++++++++++++++++++++++
_______________________________________________________________________________________________________________________________*/



#home {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 100vh;
}

.circle1 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(73%, 0%);
    background: linear-gradient(135deg, #FFFFFF -65%, #3FA9E8 85%);
    /* z-index: -1; */
}

.circle2 {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-165%, -38%);
    background: linear-gradient(80deg, #6D7BCC 0%, #24C6DC 200%);
    /* z-index: -1; */
}

.container {
    grid-column: 1/7;
    grid-row: 4/11;
    margin: 0vh 10vw 2vh 10vw;
    background: #1c0c130d url(../images/noise.svg);
    backdrop-filter: blur(60px);
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.profile-photo {
    position: absolute;
    /* top: 13vh;
    left: 50%;
    transform: translateX(-50%); */
    grid-row: 3/5;
    grid-column: 3/5;
    display: grid;
    place-self: center;
    height: 25vh;
    width: 25vh;
    /* box-shadow: 2px 2px 10px rgb(255, 255, 255) inset; */
    border-radius: 50%;
    background: #1a1a1a url(../images/s2.jpg) no-repeat center center;
    /* mix-blend-mode: darken; */
    background-size: contain;
    border: 2px solid #478ff9;
    z-index: 40;
    cursor: pointer;
    /* pointer-events: none; */
}

.profile-photo::after {
    content: "";
    position: absolute;
    background-color: transparent;
    border-radius: 50%;
    width: 26.5vh;
    height: 26.5vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    z-index: -1;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 2px solid #478ff9;
    border-right: 2px solid #478ff9;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* transform: translate(-50%, -50%) translateZ(-1px); */

#dialog-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.675);
    z-index: 94;
    display: none;
}

dialog {
    position: absolute;
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    top: 5vh;
    left: 50%;
    transform: translate(-50%, 0);
    min-height: 90vh;
    width: 30vw;
    z-index: 95;
    /* transform-style: preserve-3d; */
}

dialog button {
    background-color: transparent;
    font-size: 35px;
    cursor: pointer;
    position: absolute;
    top: 1.5vh;
    right: 2vw;
}

#hi2 {
    grid-column: 1/7;
    grid-row: 5/6;
    margin-top: 6vh;
    font-size: 55px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 2px;
    text-align: center;
    /* -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #3faae87b; */
    color: transparent;
    background: linear-gradient(to left, #24C6DC, #3FA9E8, #6D7BCC, #514A9D) no-repeat center center;
    /* background-size: 90vw 40px; */
    background-clip: text;
    -webkit-background-clip: text;
    /* opacity: 0; */
    animation: color 4.5s alternate infinite 2s;
    z-index: 40;
}

@keyframes color {
    100% {
        color: #3faae87b;
        /* -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px;
        -webkit-text-stroke-color: #3faae87b; */
        background-position: -55vw 0px;
    }
}

/* @media (hover:hover) {
    #hi2:hover {
        animation: glitch .2s infinite;
    }
} */

#bio {
    grid-column: 1/7;
    grid-row: 6/7;
    margin-top: 3vh;
    font-size: 17px;
    letter-spacing: 0.8px;
    text-align: center;
    color: rgba(101, 101, 100, 0.975);
    line-height: 30p;
    width: 100%;
    /* border: 2px solid green; */
    z-index: 40;
}

.button-on-home {
    grid-column: 2/6;
    grid-row: 7/8;
    margin-top: 5vh;
    display: flex;
    justify-self: center;
    justify-content: center;
    gap: 2vw;
    align-items: center;
    z-index: 40;
}

.button-on-home button {
    padding: 16px 50px 16px 50px;
    border-radius: 10px;
    width: 20vw;
    /* height: 100%; */
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
    background-color: #478ff9;
}

@media (hover:hover) {

    .button-on-home button:hover,
    .button-on-home button:focus {
        box-shadow: 3px 3px 2px #514A9D;
        background-image: linear-gradient(-45deg, #3FA9E8, #6D7BCC, #478ff9, #6D7BCC);
        background-size: 500%;
        animation: button-color 4s alternate infinite;
    }

    @keyframes button-color {
        0% {
            background-position: 0% 0%;
        }

        100% {
            background-position: 100% 0%;
        }
    }
}

.button-on-home button:active {
    transform: scale(0.96);
}

#icons-on-home {
    grid-column: 3/5;
    grid-row: 9/10;
    /* margin-top: 10vh; */
    display: flex;
    column-gap: 1.5vw;
    flex-direction: row;
    justify-self: center;
    /* border: 2px solid red; */
    z-index: 40;
}

#icons-on-home a i {
    cursor: pointer;
    color: #6da7ff;
    font-size: 25px !important;
}

#scroll-more {
    grid-column: 3/5;
    grid-row: 10/11;
    text-align: center;
    font-size: 45px;
    color: #6da7ff9f;
    z-index: 40;
}

.scroll-more-before {
    opacity: 0.4;
    transition: opacity 0.3s ease;
    animation: before-scroll 2s alternate infinite;
}

@keyframes before-scroll {

    60%,
    100% {
        transform: translateY(-2vh);
        opacity: 1;
    }
}

.scroll-more-after {
    animation: after-scroll 1s linear forwards;
}

@keyframes after-scroll {

    60%,
    100% {
        transform: translateY(1vh);
        opacity: 0;
    }
}



/*
+++++++++++++++++++++++++++++++++++++++++++++++++++++++🏷️👇PHOTOS SECTION👇🏷️++++++++++++++++++++++++++++++++++++++++++++++++
_______________________________________________________________________________________________________________________________*/



#photos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 60vh;
    grid-gap: 2vh;
    margin-top: 5vh;
    padding-top: 10vh;
}

.photo-prop {
    border: 1px solid rgb(0, 0, 0);
    background-color: black;
    border-radius: 15px;
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: center;
}

.photo-prop:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/3;
    background-image: url(../images/home2.png);
}

.photo-prop:nth-child(2) {
    grid-column: 2/4;
    grid-row: 1/3;
    background-image: url(../images/bg.jpg);
}

.photo-prop:nth-child(3) {
    grid-column: 4/5;
    grid-row: 1/3;
    background-image: url(../images/home2.png);
}

.photo-prop:nth-child(4) {
    grid-column: 5/7;
    grid-row: 1/3;
    background-image: url(../images/bg.jpg);
}

.photo-prop:nth-child(5) {
    grid-column: 1/3;
    grid-row: 3/5;
    background-image: url(../images/bg.jpg);
}

.photo-prop:nth-child(6) {
    grid-column: 3/4;
    grid-row: 3/5;
    background-image: url(../images/home2.png);
}

.photo-prop:nth-child(7) {
    grid-column: 4/6;
    grid-row: 3/5;
    background-image: url(../images/bg.jpg);
}

.photo-prop:nth-child(8) {
    grid-column: 6/7;
    grid-row: 3/5;
    background-image: url(../images/home2.png);
}

@media (hover:hover) {

    .photo-prop:hover,
    .photo-prop:focus {
        background-size: 102%;
    }
}


/*
+++++++++++++++++++++++++++++++++++++++++++++++++++++++🏷️👇PROJECTS SECTION👇🏷️++++++++++++++++++++++++++++++++++++++++++++++
_______________________________________________________________________________________________________________________________*/



#projects {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 100vh;
    margin-top: 15vh;
    padding-top: 10vh;
}




/*
+++++++++++++++++++++++++++++++++++++++++++++++++++++++🏷️👇EXPERIENCE SECTION👇🏷️++++++++++++++++++++++++++++++++++++++++++++
_______________________________________________________________________________________________________________________________*/



#experience {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 100vh;
    margin-top: 5vh;
    padding-top: 10vh;
}



/*
+++++++++++++++++++++++++++++++++++++++++++++++++++++++🏷️👇EDUCATION SECTION👇🏷️+++++++++++++++++++++++++++++++++++++++++++++
_______________________________________________________________________________________________________________________________*/



#education {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 100vh;
    grid-gap: 5vh;
    margin-top: 5vh;
    padding-top: 10vh;
}

.ed-card {
    border-radius: 15px;
    background: -webkit-linear-gradient(to left, #d4eff9, #FFFFFF);
    background: linear-gradient(to left, #d4eff9, #FFFFFF);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
}

@media (hover:hover) {

    .ed-card:hover,
    .ed-card:focus {
        box-shadow: 2px 2px 3px #00308a5e;
    }
}

.ed-card1 {
    grid-column: 1/3;
    grid-row: 2/10;
}

.ed-card2 {
    grid-column: 3/5;
    grid-row: 2/10;
}

.ed-card3 {
    grid-column: 5/7;
    grid-row: 2/10;
}

.ed-img {
    height: 30%;
    width: 100%;
    margin-top: 2vh;
    mix-blend-mode: darken;
    background-size: contain !important;
}

.ed-img1 {
    background: url(../images/icse.jpg) no-repeat center center;
}

.ed-img2 {
    background: url(../images/isc.jpg) no-repeat center center;
}

.ed-img3 {
    background: url(../images/btech.png) no-repeat center center;
}

.ed-heading {
    font-size: 20px;
    margin-top: 2vh;
}

.ed-article {
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.8px;
    color: rgba(101, 101, 100, 0.975);
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    word-spacing: -1.8px;
    margin: 2vh 5vh 0 5vh;
}

.mySwiper2 {
    display: none !important;
}


/*
+++++++++++++++++++++++++++++++++++++++++++++++++++++++🏷️👇SKILLS SECTION👇🏷️++++++++++++++++++++++++++++++++++++++++++++++++
_______________________________________________________________________________________________________________________________*/



#skills {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 100vh;
    margin-top: 5vh;
    padding-top: 10vh;
}

#left-skills {
    grid-column: 1/4;
    grid-row: 2/10;
    margin-top: 5vh;
    background: url(../images/skillbg4.gif) no-repeat center center;
    mix-blend-mode: darken;
    background-size: contain;
}

.mySwiper3 {
    grid-column: 4/7;
    grid-row: 2/10;
    margin-top: 5vh;
    width: 100%;
    height: 100%
}

.slide3 {
    text-align: center;
    font-size: 18px;
    background: #fff;
    background: -webkit-linear-gradient(to left, #d4eff9, #FFFFFF);
    background: linear-gradient(to left, #d4eff9, #FFFFFF);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

/* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */



/*
+++++++++++++++++++++++++++++++++++++++++++++++++++++++🏷️👇CONTACT SECTION👇🏷️+++++++++++++++++++++++++++++++++++++++++++++++
_______________________________________________________________________________________________________________________________*/



#contact {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 0px 15vh 0 15vh;
    height: 190vh;
    margin-top: 15vh;
    scroll-margin-top: 7vh;
    scroll-margin-bottom: 20vh;

}

#contact iframe {
    grid-column: 1/7;
    grid-row: 1/3;
}



/*
+++++++++++++++++++++++++++++++++++++++++++++++++++++++🏷️👇FOOTER👇🏷️++++++++++++++++++++++++++++++++++++++++++++++++++++++
_______________________________________________________________________________________________________________________________*/



footer {
    height: 20vh;
    background-color: #00308a;
}

footer p {
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 15px;
}